<div class="content about">
    <!-- title -->
    <div class="title">
      <span>About Me</span>
    </div>
    <!-- content -->
    <div class="row">
      <div class="col col-d-6 col-t-12 col-m-12 border-line-v">
        <div class="text-box">
          <div>
            <p>
              <strong>Hello! I’m Frank Lembalemba.</strong>
              <br />
I’m a tech lover and a freelance software developer with a knack for turning ideas into functional apps and websites. From mobile apps to websites, I’ve built a bit of everything. Recently, I finished my degree in Computer Science, and I’m always looking for the next cool project to dive into.
<br />
Whether it’s creating secure payment gateways or using AI for medical projects (like my Melanoma Classification project!), I’m all about solving problems with tech.
<br />
Let’s create something awesome together!
            </p>
          </div>
        </div>
      </div>
      <div class="col col-d-6 col-t-12 col-m-12 border-line-v">
        <div class="info-list">
          <ul>
            <li>
              <strong>
                <span> Age </span>
              </strong>
              <span> in my 20's </span>
            </li>
            <li>
              <strong>
                <span> Residence </span>
              </strong>
              <span> Zambia  </span>
            </li>
            <li>
              <strong>
                <span> Freelance </span>
              </strong>
              <span> Available </span>
            </li>
            <li>
              <strong>
                <span> Address </span>
              </strong>
              <span> Kitwe, Zambia </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>