<div class="content clients">
    <!-- title -->
    <div class="title">
      <span>Clients</span>
    </div>
    <!-- content -->
    <div class="row client-items">
      <!-- client item -->
      <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
        <div class="client-item">
          <div class="image">
            <a target="_blank" href="https://www.envato.com/">
              <noscript>
                <img decoding="async" src="/images/brand_1.jpeg" alt="envato" />
              </noscript>
              <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
                                                                                                                  xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="/images/brand_1.jpeg" alt="envato" />
            </a>
          </div>
        </div>
      </div>
      <!-- client item -->
      <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
        <div class="client-item">
          <div class="image">
            <a target="_blank" href="https://www.freelancer.com/">
              <noscript>
                <img decoding="async" src="developer/wp-content/uploads/sites/3/2022/07/brand1_w-184x62.png" alt="freelancer" />
              </noscript>
              <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
                                                                                                                      xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/brand1_w-184x62.png" alt="freelancer" />
            </a>
          </div>
        </div>
      </div>
      <!-- client item -->
      <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
        <div class="client-item">
          <div class="image">
            <a target="_blank" href="https://www.upwork.com/">
              <noscript>
                <img decoding="async" src="developer/wp-content/uploads/sites/3/2022/07/brand2_w-184x62.png" alt="upwork" />
              </noscript>
              <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
                                                                                                                          xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/brand2_w-184x62.png" alt="upwork" />
            </a>
          </div>
        </div>
      </div>
      <!-- client item -->
      <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
        <div class="client-item">
          <div class="image">
            <a href="https://www.google.com/">
              <noscript>
                <img decoding="async" src="developer/wp-content/uploads/sites/3/2022/07/brand3-184x62.png" alt="google" />
              </noscript>
              <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
                                                                                                                              xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/brand3-184x62.png" alt="google" />
            </a>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>