<section class="elementor-section elementor-top-section elementor-element elementor-element-2f63e83 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="2f63e83" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fb174a3" data-id="fb174a3" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-d76ea60 elementor-widget elementor-widget-ryancv-info-list" data-id="d76ea60" data-element_type="widget" data-widget_type="ryancv-info-list.default">
            <div class="elementor-widget-container">
              <!-- content -->
              <div class="row">
                <div class="col col-d-12 col-t-12 col-m-12 col-list-2 border-line-v">
                  <div class="info-list">
                    <ul>
                      <li>
                        <strong>
                          <span> Address: </span>
                        </strong>
                        <span> Kitwe, Zambia </span>
                      </li>
                      <li>
                        <strong>
                          <span> Email: </span>
                        </strong>
                        <span>franklembalemba3@gmail.com</span>
                      </li>
                      <li>
                        <strong>
                          <span> Phone: </span>
                        </strong>
                        <span> +260 976958373 </span>
                      </li>
                      <li>
                        <strong>
                          <span> Freelance: </span>
                        </strong>
                        <span> Available </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>