<div class="content pricing">
    <!-- title -->
    <div class="title">
      <span>Pricing</span>
    </div>
    <!-- content -->
    <div class="row pricing-items">
      <!-- pricing item -->
      <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
        <div class="pricing-item">
          <div class="icon">
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-chess-queen" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
              <path d="M256 112a56 56 0 1 0-56-56 56 56 0 0 0 56 56zm176 336H80a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h352a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm72.87-263.84l-28.51-15.92c-7.44-5-16.91-2.46-22.29 4.68a47.59 47.59 0 0 1-47.23 18.23C383.7 186.86 368 164.93 368 141.4a13.4 13.4 0 0 0-13.4-13.4h-38.77c-6 0-11.61 4-12.86 9.91a48 48 0 0 1-93.94 0c-1.25-5.92-6.82-9.91-12.86-9.91H157.4a13.4 13.4 0 0 0-13.4 13.4c0 25.69-19 48.75-44.67 50.49a47.5 47.5 0 0 1-41.54-19.15c-5.28-7.09-14.73-9.45-22.09-4.54l-28.57 16a16 16 0 0 0-5.44 20.47L104.24 416h303.52l102.55-211.37a16 16 0 0 0-5.44-20.47z"></path>
            </svg>
          </div>
          <div class="name">
            <span> Popular </span>
          </div>
          <div class="amount">
            <span class="dollar">
              <span> K </span>
            </span>
            <span class="number">
              <span> 100 </span>
            </span>
            <span class="period">
              <span> /hour </span>
            </span>
          </div>
          <div class="feature-list">
            <div>
              <ul>
                <li>WorPress Development</li>
                <li>Installation Services</li>
                <li>SEO Audit</li>
                <li style="text-decoration: line-through">Hosting &amp; Domain</li>
                <li style="text-decoration: line-through">WordPress Security</li>
              </ul>
            </div>
          </div>
          <div class="lnks">
            <a href="#contact" class="lnk">
              <span class="text">
                <span> Order Now </span>
              </span>
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- pricing item -->
      <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
        <div class="pricing-item">
          <div class="icon">
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-rocket" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
              <path d="M505.12019,19.09375c-1.18945-5.53125-6.65819-11-12.207-12.1875C460.716,0,435.507,0,410.40747,0,307.17523,0,245.26909,55.20312,199.05238,128H94.83772c-16.34763.01562-35.55658,11.875-42.88664,26.48438L2.51562,253.29688A28.4,28.4,0,0,0,0,264a24.00867,24.00867,0,0,0,24.00582,24H127.81618l-22.47457,22.46875c-11.36521,11.36133-12.99607,32.25781,0,45.25L156.24582,406.625c11.15623,11.1875,32.15619,13.15625,45.27726,0l22.47457-22.46875V488a24.00867,24.00867,0,0,0,24.00581,24,28.55934,28.55934,0,0,0,10.707-2.51562l98.72834-49.39063c14.62888-7.29687,26.50776-26.5,26.50776-42.85937V312.79688c72.59753-46.3125,128.03493-108.40626,128.03493-211.09376C512.07526,76.5,512.07526,51.29688,505.12019,19.09375ZM384.04033,168A40,40,0,1,1,424.05,128,40.02322,40.02322,0,0,1,384.04033,168Z"></path>
            </svg>
          </div>
          <div class="name">
            <span> Pro </span>
          </div>
          <div class="amount">
            <span class="dollar">
              <span> K </span>
            </span>
            <span class="number">
              <span> 150 </span>
            </span>
            <span class="period">
              <span> /hour </span>
            </span>
          </div>
          <div class="feature-list">
            <div>
              <ul>
                <li>WorPress Development</li>
                <li>Installation Services</li>
                <li>SEO Audit</li>
                <li>Hosting &amp; Domain <strong>new</strong>
                </li>
                <li>WordPress Security <strong>new</strong>
                </li>
              </ul>
            </div>
          </div>
          <div class="lnks">
            <a href="#contact" class="lnk">
              <span class="text">
                <span> Order Now </span>
              </span>
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Website Development Pricing -->
<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
  <div class="pricing-item">
      <div class="icon">
          <svg aria-hidden="true" class="e-font-icon-svg e-fas-globe" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
              <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM256 112c-97.05 0-176 78.95-176 176s78.95 176 176 176s176-78.95 176-176S353.05 112 256 112z" fill="currentColor"/>
          </svg>
      </div>
      <div class="name">
          <span>Website </span>
      </div>
      <div class="amount">
          <span class="dollar"><span>K</span></span>
          <span class="number"><span>250</span></span>
          <span class="period"><span>/hour</span></span>
      </div>
      <div class="feature-list">
          <div>
              <ul>
                  <li>Custom Web Design</li>
                  <li>Responsive Development</li>
                  <li>CMS Integration</li>
                  <li>SEO Optimization <strong>included</strong></li>
                  <li>Speed Optimization</li>
                  <li>1 Months Support <strong>free</strong></li>
              </ul>
          </div>
      </div>
      <div class="lnks">
          <a href="#contact" class="lnk">
              <span class="text"><span>Order now</span></span>
              <i class="fa fa-chevron-right"></i>
          </a>
      </div>
  </div>
</div>

<!-- Mobile App Development Pricing -->
<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
  <div class="pricing-item">
      <div class="icon">
          <svg aria-hidden="true" class="e-font-icon-svg e-fas-mobile-alt" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
              <path d="M272 0H144C117.5 0 96 21.5 96 48v416c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM208 448c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z" fill="currentColor"/>
          </svg>
      </div>
      <div class="name">
          <span>Mobile App </span>
      </div>
      <div class="amount">
          <span class="dollar"><span>K</span></span>
          <span class="number"><span>500</span></span>
          <span class="period"><span>/hour</span></span>
      </div>
      <div class="feature-list">
          <div>
              <ul>
                  <li>Native App Development</li>
                  <li>UI/UX Design</li>
                  <li>API Integration</li>
                  <li>Push Notifications <strong>included</strong></li>
                  <li>App Store Submission</li>
                  <li>2 Months Support <strong>free</strong></li>
              </ul>
          </div>
      </div>
      <div class="lnks">
          <a href="#contact" class="lnk">
              <span class="text"><span>Order now</span></span>
              <i class="fa fa-chevron-right"></i>
          </a>
      </div>
  </div>
</div>
      <div class="clear"></div>
    </div>
  </div>