<div class="content shops woocommerce">
    <!-- title -->
    <h2 class="title">
      <span>Products</span>
    </h2>
    <!-- content -->
    <ul class="products columns-2 row border-line-v">
      <li class="col col-d-6 col-t-6 col-m-12 border-line-h product type-product post-315 status-publish first instock product_cat-web-development has-post-thumbnail shipping-taxable purchasable product-type-simple">
        <a href="https://ryancv.bslthemes.com/developer/product/web-development/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <noscript>
            <img loading="lazy" decoding="async" width="300" height="300" src="developer/wp-content/uploads/sites/3/2022/07/prod2-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="developer/wp-content/uploads/sites/3/2022/07/prod2-2-300x300.jpg 300w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-150x150.jpg 150w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-280x280.jpg 280w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-560x560.jpg 560w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" />
          </noscript>
          <img loading="lazy" decoding="async" width="300" height="300" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                                                                  xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20300%20300%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/prod2-2-300x300.jpg" class="lazyload attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" data-srcset="developer/wp-content/uploads/sites/3/2022/07/prod2-2-300x300.jpg 300w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-150x150.jpg 150w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-280x280.jpg 280w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-560x560.jpg 560w, developer/wp-content/uploads/sites/3/2022/07/prod2-2-100x100.jpg 100w" data-sizes="(max-width: 300px) 100vw, 300px" />
          <h2 class="woocommerce-loop-product__title">Web Development</h2>
          <span class="price">
            <span class="woocommerce-Price-amount amount">
              <bdi>
                <span class="woocommerce-Price-currencySymbol">&#36;</span>599.00 </bdi>
            </span>
          </span>
        </a>
        <a href="?add-to-cart=315" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_315" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="315" data-product_sku="" aria-label="Add to cart: &ldquo;Web Development&rdquo;" rel="nofollow" data-success_message="&ldquo;Web Development&rdquo; has been added to your cart">Add to cart</a>
        <span id="woocommerce_loop_add_to_cart_link_describedby_315" class="screen-reader-text"></span>
      </li>
      <li class="col col-d-6 col-t-6 col-m-12 border-line-h product type-product post-322 status-publish last instock product_cat-branding has-post-thumbnail shipping-taxable purchasable product-type-simple">
        <a href="https://ryancv.bslthemes.com/developer/product/branding-marketing/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
          <noscript>
            <img loading="lazy" decoding="async" width="300" height="300" src="developer/wp-content/uploads/sites/3/2022/07/prod1-2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="developer/wp-content/uploads/sites/3/2022/07/prod1-2-300x300.jpg 300w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-150x150.jpg 150w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-280x280.jpg 280w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-560x560.jpg 560w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-100x100.jpg 100w" sizes="(max-width: 300px) 100vw, 300px" />
          </noscript>
          <img loading="lazy" decoding="async" width="300" height="300" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                                                                      xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20300%20300%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/prod1-2-300x300.jpg" class="lazyload attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" data-srcset="developer/wp-content/uploads/sites/3/2022/07/prod1-2-300x300.jpg 300w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-150x150.jpg 150w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-280x280.jpg 280w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-560x560.jpg 560w, developer/wp-content/uploads/sites/3/2022/07/prod1-2-100x100.jpg 100w" data-sizes="(max-width: 300px) 100vw, 300px" />
          <h2 class="woocommerce-loop-product__title">Branding Marketing</h2>
          <span class="price">
            <span class="woocommerce-Price-amount amount">
              <bdi>
                <span class="woocommerce-Price-currencySymbol">&#36;</span>399.00 </bdi>
            </span>
          </span>
        </a>
        <a href="?add-to-cart=322" aria-describedby="woocommerce_loop_add_to_cart_link_describedby_322" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="322" data-product_sku="" aria-label="Add to cart: &ldquo;Branding Marketing&rdquo;" rel="nofollow" data-success_message="&ldquo;Branding Marketing&rdquo; has been added to your cart">Add to cart</a>
        <span id="woocommerce_loop_add_to_cart_link_describedby_322" class="screen-reader-text"></span>
      </li>
      <li class="clear"></li>
    </ul>
    <div class="bts bts-center">
      <a class="button" href="/developer/shop/"> All Products </a>
    </div>
  </div>