<div class="profile
     rounded-style-2																				">
            <div class="profile-content">
              <!-- profile slideshow -->
              <div class="slide">
                <div class="swiper-container ryan-slideshow">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <noscript>
                        <img src="developer/wp-content/uploads/sites/3/2022/07/dev-bg-1200x800.jpg" alt="Frank Lembalemba" class="ryan-banner-cover" data-swiper-parallax-y="-30" data-swiper-parallax-scale="1.2">
                      </noscript>
                      <img src='data:image/svg+xml,%3Csvg%20
																				xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/dev-bg-1200x800.jpg" alt="Frank Lembalemba" class="lazyload ryan-banner-cover" data-swiper-parallax-y="-30" data-swiper-parallax-scale="1.2">
                    </div>
                    <div class="swiper-slide">
                      <noscript>
                        <img src="developer/wp-content/uploads/sites/3/2022/07/dev-bg-3-1200x812.jpg" alt="Frank Lembalemba" class="ryan-banner-cover" data-swiper-parallax-y="-30" data-swiper-parallax-scale="1.2">
                      </noscript>
                      <img src='data:image/svg+xml,%3Csvg%20
																						xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/dev-bg-3-1200x812.jpg" alt="Frank Lembalemba" class="lazyload ryan-banner-cover" data-swiper-parallax-y="-30" data-swiper-parallax-scale="1.2">
                    </div>
                    <div class="swiper-slide">
                      <noscript>
                        <img src="developer/wp-content/uploads/sites/3/2022/07/dev-bg-4-1200x744.jpg" alt="Frank Lembalemba" class="ryan-banner-cover" data-swiper-parallax-y="-30" data-swiper-parallax-scale="1.2">
                      </noscript>
                      <img src='data:image/svg+xml,%3Csvg%20
																								xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/dev-bg-4-1200x744.jpg" alt="Frank Lembalemba" class="lazyload ryan-banner-cover" data-swiper-parallax-y="-30" data-swiper-parallax-scale="1.2">
                    </div>
                  </div>
                </div>
              </div>
              <!-- profile photo -->
              <div class="image">
                <a href="/">
                  <noscript>
                    <img src="images/avatar.jpeg" alt="Frank Lembalemba" />
                  </noscript>
                  <img class="lazyload" src='data:image/svg+xml,%3Csvg%20
																							xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="images/avatar.jpeg" alt="Frank Lembalemba" />
                </a>
              </div>
              <!-- profile title -->
              <div class="title">Frank Lembalemba</div>
              <!-- profile subtitles -->
              <div class="subtitle subtitle-typed">
                <div class="typing-title">
                  <p>Back-end Developer</p>
                  <p>Front-end Developer</p>
                  <p>Freelancer</p>
                  <p>Programmer</p>
                </div>
                <span class="r-typed"></span>
              </div>
              <!-- profile socials -->
              <div class="social">
                <a target="_blank" href="https://dribbble.com/" aria-label="fab fa-instagram">
                  <span class="fab fa-instagram"></span>
                </a>
                <a target="_blank" href="https://twitter.com/" aria-label="fab fa-twitter">
                  <span class="fab fa-twitter"></span>
                </a>
                <a target="_blank" href="https://github.com/Franklemba" aria-label="fab fa-github">
                  <span class="fab fa-github"></span>
                </a>
                <a target="_blank" href="https://stackoverflow.com/" aria-label="fab fa-stack-overflow">
                  <span class="fab fa-stack-overflow"></span>
                </a>
                <a target="_blank" href="https://www.whatsapp.com/" aria-label="fab fa-whatsapp">
                  <span class="fab fa-whatsapp"></span>
                </a>
              </div>
            </div>
            <!-- profile buttons -->
            <div class="lnks">
              <a href="/uploads/lembalemba_resume.pdf" class="lnk" target="_blank">
                <span class="text">Download CV</span>
                <span class="ion ion-android-download"></span>
              </a>
              <a href="#contact" class="lnk">
                <span class="text">Contact Me</span>
                <span class="ion ion-ios-paperplane"></span>
              </a>
            </div>
          </div>