<div class="sidebar-wrap">
    <aside id="secondary" class="widget-area">
      <section id="block-2" class="widget widget_block widget_search">
        <form role="search" method="get" action="https://ryancv.bslthemes.com/developer/" class="wp-block-search__button-outside wp-block-search__text-button wp-block-search">
          <label class="wp-block-search__label" for="wp-block-search__input-1">Search</label>
          <div class="wp-block-search__inside-wrapper ">
            <input class="wp-block-search__input" id="wp-block-search__input-1" placeholder="" value="" type="search" name="s" required />
            <button aria-label="Search" class="wp-block-search__button wp-element-button" type="submit">Search</button>
          </div>
        </form>
      </section>
      <section id="block-3" class="widget widget_block">
        <div class="wp-block-group">
          <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
            <h2 class="wp-block-heading">Recent Posts</h2>
            <ul class="wp-block-latest-posts__list wp-block-latest-posts">
              <li>
                <a class="wp-block-latest-posts__post-title" href="https://ryancv.bslthemes.com/developer/2020/04/28/by-spite-about-do-of-allow/">By spite about do of allow</a>
              </li>
              <li>
                <a class="wp-block-latest-posts__post-title" href="https://ryancv.bslthemes.com/developer/2020/04/28/a-song-and-dance-act/">A Song And Dance Act</a>
              </li>
              <li>
                <a class="wp-block-latest-posts__post-title" href="https://ryancv.bslthemes.com/developer/2020/04/28/music-player-design/">Music Player Design</a>
              </li>
              <li>
                <a class="wp-block-latest-posts__post-title" href="https://ryancv.bslthemes.com/developer/2020/04/28/designing-the-perfect/">Designing the perfect</a>
              </li>
              <li>
                <a class="wp-block-latest-posts__post-title" href="https://ryancv.bslthemes.com/developer/2020/04/28/creativity-is-more-than/">Creativity Is More Than</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="block-4" class="widget widget_block">
        <div class="wp-block-group">
          <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
            <h2 class="wp-block-heading">Recent Comments</h2>
            <ol class="wp-block-latest-comments">
              <li class="wp-block-latest-comments__comment">
                <article>
                  <footer class="wp-block-latest-comments__comment-meta">
                    <span class="wp-block-latest-comments__comment-author">Ryan Adlard</span> on <a class="wp-block-latest-comments__comment-link" href="https://ryancv.bslthemes.com/developer/2020/04/28/creativity-is-more-than/#comment-2">Creativity Is More Than</a>
                  </footer>
                </article>
              </li>
              <li class="wp-block-latest-comments__comment">
                <article>
                  <footer class="wp-block-latest-comments__comment-meta">
                    <span class="wp-block-latest-comments__comment-author">James Rodri</span> on <a class="wp-block-latest-comments__comment-link" href="https://ryancv.bslthemes.com/developer/2020/04/28/music-player-design/#comment-3">Music Player Design</a>
                  </footer>
                </article>
              </li>
              <li class="wp-block-latest-comments__comment">
                <article>
                  <footer class="wp-block-latest-comments__comment-meta">
                    <span class="wp-block-latest-comments__comment-author">James Rodri</span> on <a class="wp-block-latest-comments__comment-link" href="https://ryancv.bslthemes.com/developer/2020/04/28/a-song-and-dance-act/#comment-5">A Song And Dance Act</a>
                  </footer>
                </article>
              </li>
              <li class="wp-block-latest-comments__comment">
                <article>
                  <footer class="wp-block-latest-comments__comment-meta">
                    <span class="wp-block-latest-comments__comment-author">John Doe</span> on <a class="wp-block-latest-comments__comment-link" href="https://ryancv.bslthemes.com/developer/2020/04/28/a-song-and-dance-act/#comment-4">A Song And Dance Act</a>
                  </footer>
                </article>
              </li>
              <li class="wp-block-latest-comments__comment">
                <article>
                  <footer class="wp-block-latest-comments__comment-meta">
                    <span class="wp-block-latest-comments__comment-author">Ryan Adlard</span> on <a class="wp-block-latest-comments__comment-link" href="https://ryancv.bslthemes.com/developer/2020/04/28/by-spite-about-do-of-allow/#comment-8">By spite about do of allow</a>
                  </footer>
                </article>
              </li>
            </ol>
          </div>
        </div>
      </section>
      <section id="block-5" class="widget widget_block">
        <div class="wp-block-group">
          <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
            <h2 class="wp-block-heading">Archives</h2>
            <ul class="wp-block-archives-list wp-block-archives">
              <li>
                <a href='https://ryancv.bslthemes.com/developer/2020/04/'>April 2020</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="block-6" class="widget widget_block">
        <div class="wp-block-group">
          <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
            <h2 class="wp-block-heading">Categories</h2>
            <ul class="wp-block-categories-list wp-block-categories">
              <li class="cat-item cat-item-34">
                <a href="https://ryancv.bslthemes.com/developer/category/code/">Code</a>
              </li>
              <li class="cat-item cat-item-16">
                <a href="https://ryancv.bslthemes.com/developer/category/design/">Design</a>
              </li>
              <li class="cat-item cat-item-17">
                <a href="https://ryancv.bslthemes.com/developer/category/music/">Music</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </aside>
    <!-- #secondary -->
  </div>