<div class="content testimonials">
    <!-- title -->
    <div class="title">
      <span>Testimonials</span>
    </div>
    <!-- content -->
    <div class="row testimonial-items">
      <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
        <div class="revs-carousel ">
          <div class="swiper-container" data-swiper-autoplay="0" data-swiper-delay="5000" data-swiper-loop="0">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="revs-item">
                  <div class="text">
                    <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                  </div>
                  <div class="user">
                    <div class="img">
                      <noscript>
                        <img decoding="async" src="developer/wp-content/uploads/sites/3/2022/07/testi1-184x184.jpg" alt="Helen Floyd" />
                      </noscript>
                      <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                  xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/testi1-184x184.jpg" alt="Helen Floyd" />
                    </div>
                    <div class="info">
                      <div class="name">
                        <span> Helen Floyd </span>
                      </div>
                      <div class="company">
                        <span> Art Director </span>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="revs-item">
                  <div class="text">
                    <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                  </div>
                  <div class="user">
                    <div class="img">
                      <noscript>
                        <img decoding="async" src="developer/wp-content/uploads/sites/3/2022/07/testi2-184x184.jpg" alt="Robert Chase" />
                      </noscript>
                      <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                      xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/testi2-184x184.jpg" alt="Robert Chase" />
                    </div>
                    <div class="info">
                      <div class="name">
                        <span> Robert Chase </span>
                      </div>
                      <div class="company">
                        <span> CEO </span>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="revs-item">
                  <div class="text">
                    <div> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                  </div>
                  <div class="user">
                    <div class="img">
                      <noscript>
                        <img decoding="async" src="developer/wp-content/uploads/sites/3/2022/07/avatar2-184x184.png" alt="John Doe" />
                      </noscript>
                      <img class="lazyload" decoding="async" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                          xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="developer/wp-content/uploads/sites/3/2022/07/avatar2-184x184.png" alt="John Doe" />
                    </div>
                    <div class="info">
                      <div class="name">
                        <span> John Doe </span>
                      </div>
                      <div class="company">
                        <span> Art Director </span>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>