<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <link rel="stylesheet" media="print" onload="this.onload=null;this.media='all';" id="ao_optimized_gfonts" href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100i%2C200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700%2C700i%2C800%2C800i%2C900%2C900i%7CLekton%3Aregular%2Citalic%2C700%7CLekton%3Aregular%2Citalic%2C700%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;subset=latin%2Clatin-ext&amp;display=swap">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link media="all" href="developer/wp-content/cache/autoptimize/3/css/autoptimize_3f48386533d69aadd02979f80f479068.css" rel="stylesheet">
    <link media="only screen and (max-width: 768px)" href="developer/wp-content/cache/autoptimize/3/css/autoptimize_645e25746732f92ab8912b8a07744c57.css" rel="stylesheet">
    <title>Lembalemba &#8211; Developer Portfolio &#038; Personal CV WordPress Theme &#8211; Premium digital solutions for your business by bslthemes Team</title>
    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='//bslthemes.com' />
    <link href='https://fonts.gstatic.com' crossorigin='anonymous' rel='preconnect' />
    <link rel="alternate" type="application/rss+xml" title="RyanCV - Developer Portfolio &amp; Personal CV WordPress Theme &raquo; Feed" href="https://ryancv.bslthemes.com/developer/feed/" />
    <link rel="alternate" type="application/rss+xml" title="RyanCV - Developer Portfolio &amp; Personal CV WordPress Theme &raquo; Comments Feed" href="https://ryancv.bslthemes.com/developer/comments/feed/" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/main.js"></script>
    <link rel='stylesheet' id='bslthms-advanced-btns-style-css' href='https://bslthemes.com/bslthms-advanced-btns/assets/style.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel='stylesheet' id='ryancv-classic-css' href='developer/wp-content/cache/autoptimize/3/css/autoptimize_single_d6c4c5774dd10fdbd9078ae08570a86d.css' type='text/css' media='all' />
    <!-- <link rel='stylesheet' id='ryancv-dark-css' href='developer/wp-content/cache/autoptimize/3/css/autoptimize_single_10292c18a09210be41d387a25ec67304.css' type='text/css' media='all' /> -->
    <link rel='stylesheet' id='elementor-post-5-css' href='developer/wp-content/cache/autoptimize/3/css/autoptimize_single_c4cb8ce92895c980d522733035579fbf.css' type='text/css' media='all' />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script type="text/javascript" src="developer/wp-include/js/jquery/jquery.min.js" id="jquery-core-js"></script>
    <script type="text/javascript" id="wc-add-to-cart-js-extra">
      var wc_add_to_cart_params = {
        "ajax_url": "\/developer\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/developer\/?wc-ajax=%%endpoint%%",
        "i18n_view_cart": "View cart",
        "cart_url": "https:\/\/ryancv.bslthemes.com\/developer\/cart\/",
        "is_cart": "",
        "cart_redirect_after_add": "no"
      };
    </script>
    <script type="text/javascript" id="woocommerce-js-extra">
      var woocommerce_params = {
        "ajax_url": "\/developer\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/developer\/?wc-ajax=%%endpoint%%"
      };
    </script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://ryancv.bslthemes.com/developer/xmlrpc.php?rsd" />
    <meta name="generator" content="WordPress 6.6.2" />
    <meta name="generator" content="WooCommerce 9.3.3" />
    <link rel="canonical" href="https://ryancv.bslthemes.com/developer/" />
    <link rel='shortlink' href='https://ryancv.bslthemes.com/developer/' />
    <link rel="alternate" title="oEmbed (JSON)" type="application/json+oembed" href="https://ryancv.bslthemes.com/developer/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fryancv.bslthemes.com%2Fdeveloper%2F" />
    <link rel="alternate" title="oEmbed (XML)" type="text/xml+oembed" href="https://ryancv.bslthemes.com/developer/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fryancv.bslthemes.com%2Fdeveloper%2F&#038;format=xml" />
    <meta name="description" content="RyanCV - Developer Portfolio & Personal CV WordPress Theme - Premium digital solutions for your business by bslthemes Team" />
    
    <noscript>
      <style>
        .woocommerce-product-gallery {
          opacity: 1 !important
        }
      </style>
    </noscript>
    <meta name="generator" content="Elementor 3.24.2; features: e_font_icon_svg, additional_custom_breakpoints; settings: css_print_method-external, google_font-enabled, font_display-swap">
    <style>
      .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
      .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
        background-image: none !important
      }

      @media screen and (max-height:1024px) {

        .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
        .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
          background-image: none !important
        }
      }

      @media screen and (max-height:640px) {

        .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
        .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
          background-image: none !important
        }
      }
    </style>
    <style id='wp-fonts-local' type='text/css'>
      @font-face {
        font-family: Inter;
        font-style: normal;
        font-weight: 300 900;
        font-display: fallback;
        src: url('developer/wp-content/plugins/woocommerce/assets/fonts/Inter-VariableFont_slnt,wght.woff2') format('woff2');
        font-stretch: normal
      }

      @font-face {
        font-family: Cardo;
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('developer/wp-content/plugins/woocommerce/assets/fonts/cardo_normal_400.woff2') format('woff2')
      }
    </style>
    <link rel="icon" href="developer/wp-content/uploads/sites/3/2023/04/cropped-logo4n-32x32.png" sizes="32x32" />
    <link rel="icon" href="developer/wp-content/uploads/sites/3/2023/04/cropped-logo4n-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="developer/wp-content/uploads/sites/3/2023/04/cropped-logo4n-180x180.png" />
    <meta name="msapplication-TileImage" content="developer/wp-content/uploads/sites/3/2023/04/cropped-logo4n-270x270.png" />
    <style type="text/css" id="wp-custom-css">
      .client-items .client-item img,
      .resume-items .resume-item .image img {
        filter: contrast(0)
      }
    </style>
  </head>

<body class="home page-template page-template-template-elementor-builder page-template-template-elementor-builder-php page page-id-151 body-style-dark theme-ryancv woocommerce-no-js elementor-default elementor-kit-5 elementor-page elementor-page-151">

    
    <%- body %>


    <div class="bsl-popup" data-theme="ryancv" data-category="wordpress">
        <div class="bsl-popup__buttons"></div>
        <div class="bsl-popup__content bsl-popup__content-related">
          <div class="bsl-popup__menu"></div>
          <div class="bsl-popup__tabs">
            <div class="bsl-popup__tab bsl-popup__tab-demo"></div>
            <div class="bsl-popup__tab bsl-popup__tab-all"></div>
            <div class="bsl-popup__tab bsl-popup__tab-related"></div>
          </div>
        </div>
        <div class="bsl-popup__content bsl-popup__content-help"></div>
      </div>
      <!-- bslthemes.com buttons html end -->
      <script type='text/javascript'>
        const lazyloadRunObserver = () => {
          const lazyloadBackgrounds = document.querySelectorAll(`.e-con.e-parent:not(.e-lazyloaded)`);
          const lazyloadBackgroundObserver = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                let lazyloadBackground = entry.target;
                if (lazyloadBackground) {
                  lazyloadBackground.classList.add('e-lazyloaded');
                }
                lazyloadBackgroundObserver.unobserve(entry.target);
              }
            });
          }, {
            rootMargin: '200px 0px 200px 0px'
          });
          lazyloadBackgrounds.forEach((lazyloadBackground) => {
            lazyloadBackgroundObserver.observe(lazyloadBackground);
          });
        };
        const events = ['DOMContentLoaded', 'elementor/lazyload/observe', ];
        events.forEach((event) => {
          document.addEventListener(event, lazyloadRunObserver);
        });
      </script>
      <noscript>
        <style>
          .lazyload {
            display: none
          }
        </style>
      </noscript>
      <script data-noptimize="1">
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.loadMode = 1;
      </script>
      <script async data-noptimize="1" src='developer/wp-content/plugins/autoptimize/classes/external/js/lazysizes.min.js'></script>
      <script type='text/javascript'>
        (function() {
          var c = document.body.className;
          c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
          document.body.className = c;
        })();
      </script>
      <link rel='stylesheet' id='elementor-post-41-css' href='developer/wp-content/cache/autoptimize/3/css/autoptimize_single_fbba34ef3d106e2dad8146cd58262570.css' type='text/css' media='all' />
      <link rel='stylesheet' id='elementor-post-53-css' href='developer/wp-content/cache/autoptimize/3/css/autoptimize_single_f2a825d973fcbe719b506d92090a9e95.css' type='text/css' media='all' />
      <script type="text/javascript" src="https://bslthemes.com/bslthms-advanced-btns/assets/script.js" id="bslthms-advanced-btns-script-js"></script>
      <script type="text/javascript" id="ajax-portfolio-content-js-extra">
        var portfolio_ajax_loading_data = {
          "url": "https:\/\/ryancv.bslthemes.com\/developer\/wp-admin\/admin-ajax.php"
        };
      </script>
      <script type="text/javascript" id="wc-order-attribution-js-extra">
        var wc_order_attribution = {
          "params": {
            "lifetime": 1.0e-5,
            "session": 30,
            "base64": false,
            "ajaxurl": "https:\/\/ryancv.bslthemes.com\/developer\/wp-admin\/admin-ajax.php",
            "prefix": "wc_order_attribution_",
            "allowTracking": true
          },
          "fields": {
            "source_type": "current.typ",
            "referrer": "current_add.rf",
            "utm_campaign": "current.cmp",
            "utm_source": "current.src",
            "utm_medium": "current.mdm",
            "utm_content": "current.cnt",
            "utm_id": "current.id",
            "utm_term": "current.trm",
            "utm_source_platform": "current.plt",
            "utm_creative_format": "current.fmt",
            "utm_marketing_tactic": "current.tct",
            "session_entry": "current_add.ep",
            "session_start_time": "current_add.fd",
            "session_pages": "session.pgs",
            "session_count": "udata.vst",
            "user_agent": "udata.uag"
          }
        };
      </script>
      <script type="text/javascript" id="ryancv-blog-load-more-el-js-extra">
        var ajax_blog_infinite_scroll_data = {
          "url": "https:\/\/ryancv.bslthemes.com\/developer\/wp-admin\/admin-ajax.php",
          "max_num": "2",
          "page_id": "50",
          "order_by": "date",
          "order": "desc",
          "per_page": "4",
          "source": "all",
          "temp": "",
          "cat_ids": ""
        };
      </script>
      <script type="text/javascript" id="elementor-frontend-js-before">
        var elementorFrontendConfig = {
          "environmentMode": {
            "edit": false,
            "wpPreview": false,
            "isScriptDebug": false
          },
          "i18n": {
            "shareOnFacebook": "Share on Facebook",
            "shareOnTwitter": "Share on Twitter",
            "pinIt": "Pin it",
            "download": "Download",
            "downloadImage": "Download image",
            "fullscreen": "Fullscreen",
            "zoom": "Zoom",
            "share": "Share",
            "playVideo": "Play Video",
            "previous": "Previous",
            "next": "Next",
            "close": "Close",
            "a11yCarouselWrapperAriaLabel": "Carousel | Horizontal scrolling: Arrow Left & Right",
            "a11yCarouselPrevSlideMessage": "Previous slide",
            "a11yCarouselNextSlideMessage": "Next slide",
            "a11yCarouselFirstSlideMessage": "This is the first slide",
            "a11yCarouselLastSlideMessage": "This is the last slide",
            "a11yCarouselPaginationBulletMessage": "Go to slide"
          },
          "is_rtl": false,
          "breakpoints": {
            "xs": 0,
            "sm": 480,
            "md": 768,
            "lg": 1025,
            "xl": 1440,
            "xxl": 1600
          },
          "responsive": {
            "breakpoints": {
              "mobile": {
                "label": "Mobile Portrait",
                "value": 767,
                "default_value": 767,
                "direction": "max",
                "is_enabled": true
              },
              "mobile_extra": {
                "label": "Mobile Landscape",
                "value": 880,
                "default_value": 880,
                "direction": "max",
                "is_enabled": false
              },
              "tablet": {
                "label": "Tablet Portrait",
                "value": 1024,
                "default_value": 1024,
                "direction": "max",
                "is_enabled": true
              },
              "tablet_extra": {
                "label": "Tablet Landscape",
                "value": 1200,
                "default_value": 1200,
                "direction": "max",
                "is_enabled": false
              },
              "laptop": {
                "label": "Laptop",
                "value": 1366,
                "default_value": 1366,
                "direction": "max",
                "is_enabled": false
              },
              "widescreen": {
                "label": "Widescreen",
                "value": 2400,
                "default_value": 2400,
                "direction": "min",
                "is_enabled": false
              }
            }
          },
          "version": "3.24.2",
          "is_static": false,
          "experimentalFeatures": {
            "e_font_icon_svg": true,
            "additional_custom_breakpoints": true,
            "container_grid": true,
            "e_swiper_latest": true,
            "e_nested_atomic_repeaters": true,
            "e_onboarding": true,
            "home_screen": true,
            "ai-layout": true,
            "landing-pages": true,
            "link-in-bio": true,
            "floating-buttons": true
          },
          "urls": {
            "assets": "https:\/\/ryancv.bslthemes.com\/developer\/wp-content\/plugins\/elementor\/assets\/",
            "ajaxurl": "https:\/\/ryancv.bslthemes.com\/developer\/wp-admin\/admin-ajax.php"
          },
          "nonces": {
            "floatingButtonsClickTracking": "a1475b0020"
          },
          "swiperClass": "swiper",
          "settings": {
            "page": [],
            "editorPreferences": []
          },
          "kit": {
            "active_breakpoints": ["viewport_mobile", "viewport_tablet"],
            "global_image_lightbox": "yes",
            "lightbox_enable_counter": "yes",
            "lightbox_enable_fullscreen": "yes",
            "lightbox_enable_zoom": "yes",
            "lightbox_enable_share": "yes",
            "lightbox_title_src": "title",
            "lightbox_description_src": "description"
          },
          "post": {
            "id": 151,
            "title": "RyanCV%20%E2%80%93%20Developer%20Portfolio%20%26%20Personal%20CV%20WordPress%20Theme%20%E2%80%93%20Premium%20digital%20solutions%20for%20your%20business%20by%20bslthemes%20Team",
            "excerpt": "",
            "featuredImage": false
          }
        };
      </script>
      <!-- cursor -->
      <div class="cursor"></div>
      <script defer src="developer/wp-content/cache/autoptimize/3/js/autoptimize_b6df9681c3ca1d5f4d8aa0a5ceb92b6d.js"></script>

</body>

</html>


