 <!-- work item 5-->
 <div class="col col-d-6 col-t-6 col-m-12 border-line-h grid-item f-content ">
    <div class="box-item">
      <div class="image">
        <a href="#popup-73" class="has-popup-media" target="_blank" data-elementor-lightbox-title="SOUNDS Web App" data-elementor-lightbox-slideshow="gallery-73">
          <noscript>
            <img loading="lazy" decoding="async" width="1200" height="857" src="developer/wp-content/images/work8-1-1024x731.jpg" class="attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" srcset="developer/wp-content/images/work8-1-1024x731.jpg 1200w, developer/wp-content/images/work8-1-1024x731-300x214.jpg 300w, developer/wp-content/images/work8-1-1024x731-1024x731.jpg 1024w, developer/wp-content/images/work8-1-1024x731-768x548.jpg 768w, developer/wp-content/images/work8-1-1024x731-184x131.jpg 184w" sizes="(max-width: 1200px) 100vw, 1200px" />
          </noscript>
          <img loading="lazy" decoding="async" width="1200" height="857" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                                      xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201200%20857%22%3E%3C/svg%3E' data-src="developer/wp-content/images/work8-1-1024x731.jpg" class="lazyload attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" data-srcset="developer/wp-content/images/work8-1-1024x731.jpg 1200w, developer/wp-content/images/work8-1-1024x731-300x214.jpg 300w, developer/wp-content/images/work8-1-1024x731-1024x731.jpg 1024w, developer/wp-content/images/work8-1-1024x731-768x548.jpg 768w, developer/wp-content/images/work8-1-1024x731-184x131.jpg 184w" data-sizes="(max-width: 1200px) 100vw, 1200px" />
          <span class="info">
            <span class="ion fas fa-plus"></span>
          </span>
        </a>
      </div>
      <div class="desc">
        <a href="https://ryancv.bslthemes.com/developer/portfolio-archive/sounds-web-app/" class="name">SOUNDS Web App</a>
        <div class="category">Content</div>
      </div>
      <div id="popup-73" class="popup-box mfp-fade mfp-hide">
        <div class="content">
          <div class="preloader-popup">
            <div class="centrize full-width">
              <div class="vertical-center">
                <div class="spinner default-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>