 <!-- work item 2 -->
 <div class="col col-d-6 col-t-6 col-m-12 border-line-h grid-item f-link ">
    <div class="box-item">
      <div class="image">
        <a href="https://bslthemes.com/" class="has-popup-link" target="_blank" data-elementor-lightbox-title="OYYI Furniture App" data-elementor-lightbox-slideshow="gallery-80">
          <noscript>
            <img decoding="async" width="1200" height="900" src="developer/wp-content/images/work2-1-1024x768-1024x768.jpg" class="attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" srcset="developer/wp-content/images/work2-1-1024x768.jpg 1200w, developer/wp-content/images/work2-1-1024x768-300x225.jpg 300w, developer/wp-content/images/work2-1-1024x768-1024x768.jpg 1024w, developer/wp-content/images/work2-1-1024x768-768x576.jpg 768w, developer/wp-content/images/work2-1-1024x768-184x138.jpg 184w" sizes="(max-width: 1200px) 100vw, 1200px" />
          </noscript>
          <img decoding="async" width="1200" height="900" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                          xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201200%20900%22%3E%3C/svg%3E' data-src="developer/wp-content/images/work2-1-1024x768.jpg" class="lazyload attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" data-srcset="developer/wp-content/images/work2-1-1024x768.jpg 1200w, developer/wp-content/images/work2-1-1024x768-300x225.jpg 300w, developer/wp-content/images/work2-1-1024x768-1024x768.jpg 1024w, developer/wp-content/images/work2-1-1024x768-768x576.jpg 768w, developer/wp-content/images/work2-1-1024x768-184x138.jpg 184w" data-sizes="(max-width: 1200px) 100vw, 1200px" />
          <span class="info">
            <span class="ion fas fa-link"></span>
          </span>
        </a>
      </div>
      <div class="desc">
        <a href="https://ryancv.bslthemes.com/developer/portfolio-archive/oyyi-furniture-app/" class="name">OYYI Furniture App</a>
        <div class="category">Link</div>
      </div>
    </div>
  </div>