
                                <!-- work item 4-->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-h grid-item f-video ">
                                    <div class="box-item">
                                      <div class="image">
                                        <a href="https://vimeo.com/97102654" class="has-popup-video" target="_blank" data-elementor-lightbox-title="Unicode Web App" data-elementor-lightbox-slideshow="gallery-75">
                                          <noscript>
                                            <img loading="lazy" decoding="async" width="1200" height="800" src="developer/wp-content/images/work4-1-1024x683.jpg" class="attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" srcset="developer/wp-content/images/work4-1-1024x683.jpg 1200w, developer/wp-content/images/work4-1-1024x683-300x200.jpg 300w, developer/wp-content/images/work4-1-1024x683-1024x683.jpg 1024w, developer/wp-content/images/work4-1-1024x683-768x512.jpg 768w, developer/wp-content/images/work4-1-1024x683-184x123.jpg 184w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                          </noscript>
                                          <img loading="lazy" decoding="async" width="1200" height="800" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                                                                  xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201200%20800%22%3E%3C/svg%3E' data-src="developer/wp-content/images/work4-1-1024x683.jpg" class="lazyload attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" data-srcset="developer/wp-content/images/work4-1-1024x683.jpg 1200w, developer/wp-content/images/work4-1-1024x683-300x200.jpg 300w, developer/wp-content/images/work4-1-1024x683-1024x683.jpg 1024w, developer/wp-content/images/work4-1-1024x683-768x512.jpg 768w, developer/wp-content/images/work4-1-1024x683-184x123.jpg 184w" data-sizes="(max-width: 1200px) 100vw, 1200px" />
                                          <span class="info">
                                            <span class="ion fas fa-video"></span>
                                          </span>
                                        </a>
                                      </div>
                                      <div class="desc">
                                        <a href="https://ryancv.bslthemes.com/developer/portfolio-archive/unicode-web-app/" class="name">Unicode Web App</a>
                                        <div class="category">Video</div>
                                      </div>
                                    </div>
                                  </div>