 <!-- work item 2 -->
 <div class="col col-d-6 col-t-6 col-m-12 border-line-h grid-item f-link ">
    <div class="box-item">
      <div class="image">
        <a href="https://tayantpay.com" class="has-popup-link" target="_blank" data-elementor-lightbox-title="Tayantpay Tech Inc" data-elementor-lightbox-slideshow="gallery-80">
          <noscript>
            <img decoding="async" width="1200" height="900" src="/images/tayantpay.jpeg" class="attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" srcset="/images/tayantpay.jpeg 1200w, /images/tayantpay.jpeg 300w, /images/tayantpay.jpeg 1024w, /images/tayantpay.jpeg 768w, /images/tayantpay.jpeg 184w" sizes="(max-width: 1200px) 100vw, 1200px" />
          </noscript>
          <img decoding="async" width="1200" height="900" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                          xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201200%20900%22%3E%3C/svg%3E' data-src="/images/tayantpay.jpeg" class="lazyload attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" data-srcset="/images/tayantpay.jpeg 1200w, /images/tayantpay.jpeg 300w, /images/tayantpay.jpeg 1024w, /images/tayantpay.jpeg 768w, /images/tayantpay.jpeg 184w" data-sizes="(max-width: 1200px) 100vw, 1200px" />
          <span class="info">
            <span class="ion fas fa-link"></span>
          </span>
        </a>
      </div>
      <div class="desc">
        <a href="https://tayantpay.com" target="_blank" class="name">Tayantpay Tech Inc (web app)</a>
        <div class="category">Link</div>
      </div>
    </div>
  </div>