 <!-- work item 1-->
 <div class="col col-d-6 col-t-6 col-m-12 border-line-h grid-item f-gallery ">
    <div class="box-item">
      <div class="image">
        <a href="developer/wp-content/images/work1-1.jpg" class="" target="_blank" data-elementor-lightbox-title="Weather Mobile App" data-elementor-lightbox-slideshow="gallery-82">
          <img fetchpriority="high" decoding="async" width="1200" height="1200" src="developer/wp-content/images/work1-1-768x768.jpg" class="attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt=""  sizes="(max-width: 1200px) 100vw, 1200px" />
          <span class="info">
            <span class="ion fas fa-images"></span>
          </span>
        </a>
        <div id="gallery-82" class="mfp-hide">
          <a href="developer/wp-content/images/work-single1.jpg" data-elementor-lightbox-slideshow="gallery-82" data-elementor-lightbox-title="Weather Mobile App"></a>
          <a href="developer/wp-content/images/work-single2.jpg" data-elementor-lightbox-slideshow="gallery-82" data-elementor-lightbox-title="Weather Mobile App"></a>
          <a href="developer/wp-content/images/work-single3.jpg" data-elementor-lightbox-slideshow="gallery-82" data-elementor-lightbox-title="Weather Mobile App"></a>
          <a href="developer/wp-content/images/work-single4.jpg" data-elementor-lightbox-slideshow="gallery-82" data-elementor-lightbox-title="Weather Mobile App"></a>
        </div>
      </div>
      <div class="desc">
        <a href="https://ryancv.bslthemes.com/developer/portfolio-archive/weather-mobile-app/" class="name">Weather Mobile App</a>
        <div class="category">Gallery</div>
      </div>
    </div>
  </div>