
                                <!-- work item 8-->
                                <div class="col col-d-6 col-t-6 col-m-12 border-line-h grid-item f-image ">
                                    <div class="box-item">
                                      <div class="image">
                                        <a href="developer/wp-content/images/work5-1-1024x620.jpg" class="" target="_blank" data-elementor-lightbox-title="ChatApp Mobile" data-elementor-lightbox-slideshow="gallery-64">
                                          <noscript>
                                            <img loading="lazy" decoding="async" width="1200" height="727" src="developer/wp-content/images/work5-1-1024x620.jpg" class="attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" srcset="developer/wp-content/images/work5-1-1024x620.jpg 1200w, developer/wp-content/images/work5-1-1024x620-300x182.jpg 300w, developer/wp-content/images/work5-1-1024x620-1024x620.jpg 1024w, developer/wp-content/images/work5-1-1024x620-768x465.jpg 768w, developer/wp-content/images/work5-1-1024x620-184x111.jpg 184w" sizes="(max-width: 1200px) 100vw, 1200px" />
                                          </noscript>
                                          <img loading="lazy" decoding="async" width="1200" height="727" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                                                                                  xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201200%20727%22%3E%3C/svg%3E' data-src="developer/wp-content/images/work5-1-1024x620.jpg" class="lazyload attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" data-srcset="developer/wp-content/images/work5-1-1024x620.jpg 1200w, developer/wp-content/images/work5-1-1024x620-300x182.jpg 300w, developer/wp-content/images/work5-1-1024x620-1024x620.jpg 1024w, developer/wp-content/images/work5-1-1024x620-768x465.jpg 768w, developer/wp-content/images/work5-1-1024x620-184x111.jpg 184w" data-sizes="(max-width: 1200px) 100vw, 1200px" />
                                          <span class="info">
                                            <span class="ion fas fa-image"></span>
                                          </span>
                                        </a>
                                      </div>
                                      <div class="desc">
                                        <a href="https://ryancv.bslthemes.com/developer/portfolio-archive/chatapp-mobile/" class="name">ChatApp Mobile</a>
                                        <div class="category">Image</div>
                                      </div>
                                    </div>
                                  </div>