 <!-- work item 2 -->
 <div class="col col-d-6 col-t-6 col-m-12 border-line-h grid-item f-link ">
  <div class="box-item">
    <div class="image">
      <a href="https://steadfastcargo.onrender.com" class="has-popup-link" target="_blank" data-elementor-lightbox-title="Steadfast cargo" data-elementor-lightbox-slideshow="gallery-80">
        <noscript>
          <img decoding="async" width="1200" height="900" src="/images/steadfast.png" class="attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" srcset="/images/steadfast.png 1200w, /images/steadfast.png 300w, /images/steadfast.png 1024w, /images/steadfast.png 768w, /images/steadfast.png 184w" sizes="(max-width: 1200px) 100vw, 1200px" />
        </noscript>
        <img decoding="async" width="1200" height="900" src='data:image/svg+xml,%3Csvg%20
                                                                                                                                                        xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%201200%20900%22%3E%3C/svg%3E' data-src="/images/steadfast.png" class="lazyload attachment-ryancv_600xauto size-ryancv_600xauto wp-post-image" alt="" data-srcset="/images/steadfast.png 1200w, /images/steadfast.png 300w, /images/steadfast.png 1024w, /images/steadfast.png 768w, /images/steadfast.png 184w" data-sizes="(max-width: 1200px) 100vw, 1200px" />
        <span class="info">
          <span class="ion fas fa-link"></span>
        </span>
      </a>
    </div>
    <div class="desc">
      <a href="https://steadfastcargo.onrender.com" target="_blank" class="name">Steadfast cargo (web app)</a>
      <div class="category">Link</div>
    </div>
  </div>
</div>