<div class="skills-item">
    <div class="skills-list list">
      <div class="skill-title border-line-h">
        <div class="icon">
          <svg aria-hidden="true" class="e-font-icon-svg e-fas-list" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path>
          </svg>
        </div>
        <div class="name">
          <span>Knowledge</span>
        </div>
      </div>
      <ul>
        <li class="border-line-h">
          <div class="name">
            <span> Website hosting </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> WordPress Development </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> Hosting Installation </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> SEO Optimize </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> Mobile App Development </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> Responsive and mobile-ready </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> DNS troubleshooting </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> HTML, CSS, jQuery </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
        <li class="border-line-h">
          <div class="name">
            <span> Node js, mongoDB, AWS services </span>
          </div>
          <div class="progress ">
            <div class="percentage"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>